body{
  margin: 0;
}

#canvas-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.computador iframe{
  width: 647px;
  height: 523px;
  border-radius: 2%;
}